@{
    ViewBag.Title = "Laboratorio 3";
}

<div class="jumbotron">
    <h1>Laboratorio 3</h1>
    <p class="lead">Erick Fabian Alvarez Franco 1070117</p>
    <p class="lead">Erick Eduardo Contreras Gomez 1009017</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Insertar datos manuales</h2>
        <p>@Html.ActionLink("Insertar por numero", "Create", "Partido")</p>
        <p>@Html.ActionLink("Insertar por fecha", "Create", "Partido")</p>
        <h2>Insertar datos Json</h2>
        <p>@Html.ActionLink("Insertar por Json", "Create", "CargaPartido")</p>
        
    </div>
    <div class="col-md-4">
        <h2>Mostrar Recorridos En Orden</h2>
        <p>@Html.ActionLink("Numeros Partido", "IndexPorNumero", "Partido")</p>
        <p>@Html.ActionLink("Fecha Partido", "IndexPorFecha", "Partido")</p>
        <p>@Html.ActionLink("Numeros Partido Json", "IndexInNoPartido", "CargaPartido")</p>
        <p>@Html.ActionLink("Fecha Partido Json", "IndexInFecha", "CargaPartido")</p>
    </div>
    
</div>